.table {
  width: 100%;
}

.filter-form-field {
  font-size: 14px;
  width: 100%;
}

.table-img {
  width: 250px;
  margin: 20px;
}

.table-container {
  width: 100%;
}

.table-label-title {
  font-weight: bold;
}