table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.loading-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}