.c-table__container--table {
  width: 100%;
}

.c-table__container--form--field {
  font-size: 14px;
  width: 100%;
}

.c-table__container--table--label--container--img {
  width: 250px;
  margin: 20px;
}

.c-table__container--table--container {
  width: 100%;
}

.c-table__container--table--label--title {
  font-weight: bold;
}